* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #090420;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

/* Navbar */
nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.logo-container {
  max-width: 100px;
}
.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.menu-item a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
  font-size: 2.4rem;
}
.menu-item a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #1d4ed8;
  transition: all 0.6s ease;
}
.menu-item a:hover::after {
  width: 100%;
}
.btn {
  padding: 1.5rem 2.5rem;
  font-size: 2.4rem;
  background-color: #1d4ed8;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
